*{
    box-sizing: border-box;
    --cor-header:
}

/* font-family: 'Roboto', sans-serif; */

/*--------------- HEADER ---------------*/

header{
    width: 100vw;
    height: 69px;
    left: 0px;
    top: 0px;
    background-color: #EC362D;
    box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25) ;
    display: flex;
    justify-content: center;
    align-items: center;
}

header > .titulo{
    font-family: 'Roboto', sans-serif;
    width: 176px;
    height: 43px;
    left: 100px;
    top: 13px;
    font-style: normal;
    font-weight: bold;
    font-size: 37px;
    line-height: 43px;
    color: #FFFFFF;
}

/*--------------- MAIN ---------------*/

main {
    background-color: aqua;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;

}

.quizz-usuario{
    width: 340px;
    height: 181px;
    background-color: #FAFAFA;
    margin-top: 33px;
    border: 1px dashed #D5D5D5;
    border-radius: 5px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.quizz-usuario >p{
    width: 250px;
    height: 107px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #b9b9b9;
}

.criar-quizz{
    width: 151px;
    height: 40px;
    background-color: #FAFAFA;
    border: 1px dashed #EC362D;
    box-sizing: border-box;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.criar-quizz >p{
    width: 136px;
    height: 40px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 21px;
    line-height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #EC362D;
}

