* {
    box-sizing: border-box;
    overflow-x: hidden;

}

/* font-family: 'Roboto', sans-serif; */

/*--------------- HEADER ---------------*/

header {
    width: 100vw;
    height: 69px;
    left: 0px;
    top: 0px;
    background-color: #EC362D;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1;
}

header>.titulo {
    font-family: 'Roboto', sans-serif;
    width: 176px;
    height: 43px;
    left: 100px;
    top: 13px;
    font-style: normal;
    font-weight: bold;
    font-size: 37px;
    line-height: 43px;
    color: #FFFFFF;
}

/*--------------- MAIN - TELA 1 ---------------*/

.tela-um {
    background-color: #FAFAFA;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    margin-top: 69px;
    z-index: 1;

}

.lista-quizz {

    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 18px;

}

.quizz-usuario {
    width: 340px;
    height: 181px;
    background-color: #FAFAFA;
    margin-top: 33px;
    border: 1px dashed #D5D5D5;
    border-radius: 5px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.quizz-usuario>p {
    width: 250px;
    height: 107px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #b9b9b9;
}

.criar-quizz {
    width: 151px;
    height: 40px;
    background-color: #FAFAFA;
    border: 1px dashed #EC362D;
    box-sizing: border-box;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.criar-quizz>p {
    width: 136px;
    height: 40px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 21px;
    line-height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #EC362D;
    overflow: hidden;
}

.todos-quizz {
    width: 340px;
    height: auto;
    margin-top: 35px;

}

.todos-quizz>h2 {
    width: 158px;
    height: 23px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    display: flex;
    align-items: center;
    text-align: center;
}

.imagem-quizz {
    width: auto;
    height: auto;
    margin-top: 14px;
}

.imagem-quizz img {
    width: 340px;
    height: 181px;
    border-radius: 5px;
    background:
        linear-gradient(to bottom, rgba(255, 255, 255, 0)0%,
            rgba(0, 0, 0, 0.5)64.58%,
            #000000 100%);
}

.titulo-quizz {
    width: 301px;
    height: 54px;
    left: 36px;
    top: -60px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 19px;
    line-height: 22px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    position: relative;
}

/*--------------- MAIN - TELA 2 ---------------*/

.tela-dois {
    width: 100vw;
    height: 100vh;
    margin-top: 69px;
    background-color: #FAFAFA;
    z-index: 2;
}

.topo-quizz {
    width: 375px;
    height: 142px;
    background:
        linear-gradient(0deg,
            rgba(0, 0, 0, 0.6),
            rgba(0, 0, 0, 0.6)),
}

.topo-quizz img{
    width: 375px;
    height: 142px;
    opacity: 60%;
}

.titulo-quizz-banner{
    width: 309px;
    height: 54px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 19px;
    line-height: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    margin-left: 33px;
    margin-top: 44px;
}

.pergunta-quizz {
    width: 100vw;
    height: 436px;
    margin-top: 24px;
    background-color: #FFFFFF;
    margin-top: 24px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.topo-pergunta-quizz {
    width: 340px;
    height: 89px;
    margin-top: 18px;
    background-color: #434CA0;
}

.topo-pergunta-quizz>p {
    width: 308px;
    height: 54px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 19px;
    line-height: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    margin-left: 16px;
    margin-top: 20px;
}

.respostas-pergunta-quizz {
    width: 340px;
    height: 316px;
    margin-top: 12px;
    background-color: red;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.alternativa-respostas-pergunta-quizz {
    width: 163px;
    height: 140px;
}

.alternativa-respostas-pergunta-quizz .img {
    width: 163px;
    height: 113px;
    background-image: url(/imgteste/image\ 3.png);

}

.alternativa-respostas-pergunta-quizz p {
    width: 163px;
    height: 22px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 15px;
    display: flex;
    align-items: center;
    color: #000000;
    margin-top: 5px;
}

.diminui-opacidade {
    opacity: 0.3;
}

.alternativa-escolhida {
    width: 163px;
    height: 140px;
}

.alternativa-escolhida .img {
    width: 163px;
    height: 113px;
    background-image: url(/imgteste/image\ 3.png);

}

.alternativa-escolhida p {
    width: 163px;
    height: 22px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 15px;
    display: flex;
    align-items: center;
    color: #000000;
    margin-top: 5px;
}

/*--------------- TELA 2 - TELA FINALIZADO ---------------*/
.quizz-finalizado {
    width: 374px;
    height: 500px;
    background-color: blue;
    position: absolute;
    top: 189px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.topo-finalizado {
    width: 340px;
    height: 99px;
    background-color: #EC362D;
    display: flex;
    align-items: center;
    justify-content: center;
}

.topo-finalizado p {
    width: 308px;
    height: 54px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 19px;
    line-height: 22px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
}

.img-finalizado {
    width: 340px;
    height: 255px;
    background-color: white;
    margin-top: 9px;
}

.txt-finalizado {
    width: 340px;
    height: 96px;
    margin-top: 9px;
}

.txt-finalizado p {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    line-height: 20px;
    display: flex;
    align-items: center;
    color: #484848;
    ;
}

.respondida {
    background-color: #04AA6D;
}


/*--------------- MAIN - TELA 3 ---------------*/

.tela-tres {
    width: 100vw;
    height: 100vh;
    margin-top: 69px;
    z-index: 2;
}

.topo-criar {
    width: 375px;
    height: 89px;
    background-color: #FAFAFA;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 69px;
}

.topo-criar>p {
    width: 309px;
    height: 54px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23.44px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #000000;
}

.criar-quizzes {
    width: 100%;
}

.pergunta-criar1 {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 89px;
}

.container-pergunta {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 158px;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
}

input {
    padding: 15px;
    width: 100%;
    font-size: 17px;
    font-style: italic;
    font-family: Roboto;
    border: 1px solid #D1D1D1;
    background: #FFFFFF;
    box-sizing: border-box;
    border-radius: 5px;
    margin-top: 4.5px;
    margin-bottom: 4.5px;
}

input.invalid {
    background-color: #ffdddd;
}


.botao {
    display: flex;
    align-items: center;
    justify-content: center;
}

.criar-prosseguir {
    width: 324px;
    height: 54px;
    border: 0px;
    margin-top: 120px;
    background: #EC362D;
    border-radius: 15px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #FFF5F4;
    position: absolute;
}

.tab {
    width: 90%;
    margin-left: 17px;
    display: none;
}

.step {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbbbbb;
    border: none;
    border-radius: 50%;
    display: inline-block;
    opacity: 0.5;
}

.dropdown {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
}

.dropdown p {
    width: 309px;
    height: 54px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23.44px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #000000;
}

.tab h {
    width: 309px;
    height: 54px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    display: flex;
    align-items: center;

}

.dropdown-container {
    display: none;

}

.espaçamento {
    width: 100%;
    height: 32px;
}

.textoGrande{
    height: 177px;
}

/* Mark the active step: */
.step {
    margin-top: 90px;
}

.step.active {
    opacity: 1;
}

/* Mark the steps that are finished and valid: */
.step.finish {
    background-color: #04AA6D;
}

.escondido {
    display: none;
}